<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta charset="UTF-8">
    <title>Watering land</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/mainMenu :: main-menu"></div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Smart Hose</a></li>
        <li class="breadcrumb-item active" aria-current="page">Watering Land</li>
    </ol>
</nav>

<div class="row  justify-content-center">
    <div class="col-8">
        <div class="row  justify-content-center">
            <div class="col-3 absent">col-3</div>
            <div class="col-1 absent">col-1</div>
            <div class="col-1 absent">col-1</div>
            <div class="col-1 absent">col-1</div>
            <div class="col-1 absent">col-1</div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-2 ">
                <h4>Strawberry</h4>
                <hr>
                Temperature: 23C&#176;<div class="col"></div>
                <div id="value" >Wet: ---%</div>
                <div class="col"></div>
            </div>
            <div class="col-2 absent">col-2</div>
            <div class="col-2 absent">col-2</div>
        </div>
    </div>
</div>

<script src="assets/js/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="assets/js/mqtt_sub.js"></script>
</body>
</html>